body {
    background-color: #282a36;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 1fr 2fr;
    /* justify-items: center; */
}

.pink {
    grid-column: span 2;
    grid-row: span 2;
    justify-self: center;
}

.zone {
    text-align: center;
    font-size: 10em;
    border-radius: 5px;
    border:1px solid #bbb;
    transition: all 0.5s;
}

.zone:hover {
    box-shadow: #f8f8f2c0 0px 5px 15px;
}

.orange {
    background: linear-gradient(#ffdab3, #ffb86c);
}

.pink {
    background: linear-gradient(#F9C4E2, #ff79c6);
}

.red {
    background: linear-gradient(#ffb3b3, #ff5555);
}

.purple {
    background: linear-gradient(#e2cffc, #bd93f9);
}

.green {
    background: linear-gradient(#b5fdc7, #50fa7b);
}

.yellow {
    background: linear-gradient(#f9fdce, #f1fa8c);
}
