body {
    margin: auto 0;
    
    background-color: #282a36;
    color: #f8f8f2;
}

.zone {
    text-align: center;
    font-size: 2em;
    
    border-radius: 5px;
    border:1px solid #bbb;
    
    transition: all 0.5s;
}

.zone:hover {
    box-shadow: #f8f8f2c0 0px 5px 15px;
}

/* nav bar flexbox*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-main {
    display: flex;
    margin: 0;

    list-style: none;
    font-size: 1em;
}

/* if on a smaller display with width < 600px */
@media only screen and (max-width: 600px) {
    .nav-main {
        font-size: 0.5em;
        padding: 0;
    }
}

.nav-right {
    margin-left: auto;
}

.nav-main li {
    padding: 15px;
}

.nav-main li a {
    text-decoration: none; /* remove underline*/
}

/* Cover*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* viewport height */
}

.cover {
    width: 30rem
}

/* Grid */
.grid-wrapper {
    display: grid;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.box {
    padding: 20px;
    margin: 10px;
    
    font-size: 2rem;
    background-color: #44475a;
}

.box > img {
    width: 100%;
}

.box:hover {
    transform: rotate(3deg);
}


/* layout gradients */
.orange {
    background: linear-gradient(#ffdab3, #ffb86c);
}

.red {
    background: linear-gradient(#ffb3b3, #ff5555);
}

.purple {
    background: linear-gradient(#e2cffc, #bd93f9);
}

.pink {
    background: linear-gradient(#F9C4E2, #ff79c6);
}
