html {
    height: 100%;
}


body {
    background-image: url("bg.jpg");

    /* full height */
    height: 100%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    backdrop-filter: saturate(50%) brightness(80%) blur(5px);

}

.hero-text h1 {
    color: #f8f8f2;
    font-size: 5rem;
    text-transform: uppercase;
}

.spacing {
    height: 2rem;
}

.spacing hr {  
    opacity: 1;
    border-color: #ff79c6;
    
    border-width: 2px;
    max-width: 5rem;
    margin: auto;
}

.hero-btn {
    padding: 1rem 2rem;
    border-radius: 100px;

    text-transform: uppercase;
    background-color: #ff79c6;
    border-color: #ff79c6;
}

.hero-btn:hover {
    background-color: #44475a;
    border-color: #44475a;
}
