html {
    background-color: #282a36;
}

/* flexbox */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #383a59;
}

h1 {
    color: #ff79c6;

    font-family: fantasy;
    font-size: 3em;
    text-align: center;

    border-bottom: 3px solid #ff79c6;
    width: 500px;
}


img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all .5s;
}

img:hover {
    transform: scale(1.1);
}