@font-face {
    font-family: "Edo SZ";
    src: url(EdoSZ.woff);
    font-weight: bold;
  }


h1{
    color: #ff79c6;
    text-align: center;
    border: 3px dashed #ff79c6;
    cursor: text;
    font-family: "Edo SZ";
}

body {
    color: #f8f8f2;
    background-color: #282a36;

    font-family: "Ubuntu", sans-serif;
}

#desc {
    text-align: center;
    text-transform: uppercase;

    font-size: 120%;
    line-height: 30px;
}

span {
    font-size: 2em;
}



form {
    color: #ff79c6;
    text-align: center;
    background-color: #383a59;
}

.formbuttons input{
    color: #282a36;
    background-color: #50fa7b;

    padding: 10px 15px;
    border-radius: 5px;
    border-color: #282a36;
    
    font-size: 18px;
    font-weight: 400;
    font-family: var(--body);
}

footer {
    clear: both;
    text-align: center;
}

/* li {
    list-style: none;
} */